$ColorPrimary: rgb(58, 139, 189);

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    //background: blue;
    font-family: 'Nunito', Helvetica, sans-serif;
}

.home {
    transition: 1.5s;
    background: #346791;
}

.fullPage {
    z-index: -1;
}

#logo path:nth-child(1) {
    stroke-dasharray: 313;
    stroke-dashoffset: 313;
}

.section {
    //display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    //align-items: center;
    //justify-content: center;
}

.inner-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
}

.cell {
    height: 200px;
}

#greetings {
  animation: fill 0.5s ease forwards;
  height: 100px;
  path {
    //margin: 20px;
    opacity: 0;
  }
}

#greetings path:nth-child(1) {
  stroke-dasharray: 155;
  //stroke-dashoffset: 155;
  animation: draw 1s ease forwards;
}

#greetings path:nth-child(2) {
  stroke-dasharray: 68;
  //stroke-dashoffset: 68;
  animation: draw 1s ease forwards 0.2s;
}

#greetings path:nth-child(3) {
  stroke-dasharray: 32;
  //stroke-dashoffset: 32;
  animation: draw 1s ease forwards 0.4s;
}

#greetings path:nth-child(4) {
  stroke-dasharray: 164;
  //stroke-dashoffset: 164;
  animation: draw 1s ease forwards 0.6s;
}

#greetings path:nth-child(5) {
  stroke-dasharray: 103;
  //stroke-dashoffset: 103;
  animation: draw 1s ease forwards 0.8s;
}

#greetings path:nth-child(6) {
  stroke-dasharray: 108;
  //stroke-dashoffset: 108;
  animation: draw 1s ease forwards 1.0s;
}

#greetings path:nth-child(7) {
  stroke-dasharray: 119;
  //stroke-dashoffset: 119;
  animation: draw 1s ease forwards 1.2s;
}

#greetings path:nth-child(8) {
  stroke-dasharray: 164;
  //stroke-dashoffset: 164;
  animation: draw 1s ease forwards 1.4s;
}

#greetings path:nth-child(9) {
  stroke-dasharray: 118;
  //stroke-dashoffset: 118;
  animation: draw 1s ease forwards 1.6s;
}

#greetings path:nth-child(10) {
  stroke-dasharray: 32;
  //stroke-dashoffset: 32;
  animation: draw 1s ease forwards 1.8s;
}

#greetings path:nth-child(11) {
  stroke-dasharray: 106;
  //stroke-dashoffset: 106;
  animation: draw 1s ease forwards 2s;
}

#greetings path:nth-child(12) {
  stroke-dasharray: 106;
  //stroke-dashoffset: 106;
  animation: draw 1s ease forwards 2.2s;
}

#greetings path:nth-child(13) {
  stroke-dasharray: 68;
  //stroke-dashoffset: 68;
  animation: draw 1s ease forwards 2.4s;
}

#greetings path:nth-child(14) {
  stroke-dasharray: 118;
  //stroke-dashoffset: 118;
  animation: draw 1s ease forwards 2.6s;
}

#greetings path:nth-child(15) {
  stroke-dasharray: 108;
  //stroke-dashoffset: 108;
  animation: draw 1s ease forwards 2.8s;
}

#greetings path:nth-child(16) {
  stroke-dasharray: 87;
  //stroke-dashoffset: 87;
  animation: draw 1s ease forwards 3.0s;
}

@keyframes draw {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    margin: 0px;
    transform: translateY(0px);
    //stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: #181818;
  }
  to {
    fill: white;
  }
}

.white-container {
    height: 100vh;
    width: 100%;
    position: fixed;
    right: 0px;
    background: #181818;
    z-index: 1;
    transition: 2s;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.bubble-container {
    position: absolute;
    display: flex;
    //width: 150px;
    margin: auto;
    right: 0px;
    bottom: 0px;
    padding: 0px 80px 80px 80px;
    z-index: 6;
    opacity: 0.8;
  }
  
  .bubbles-res {
    display: none;
  }
  
  h3 {
    color: rgba(black, 0.4);
    margin-bottom: 25px;
    opacity: 0.4;
  }

  .project-sm {
      position: fixed;
      top: 60px;
      right: 0px;
      height: fit-content;
      margin: 0px;
  }
  
  .social-bubble {
    //background-color: white;
    width: 25px;
    height: 25px;
    //border-radius: 100%;
    margin-right: 7px;
    margin-left: 7px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
    opacity: 0;
    transition: margin-top 1s, opacity 1s, transform 300ms;
  
    &:hover {
      cursor: pointer;
      transform: translateY(-8px);
    }
  }
  
  #facebook {
    background-image: url("../res/facebook-icon-min.png");
    //filter: invert(1);
  }
  
  #instagram {
    background-image: url("../res/insta-icon-min.png");
    //filter:invert(1);
  }
  
  #twitter {
    background-image: url("../res/twitter-icon-min.png");
    //filter: invert(1);
  }
  
  #pinterest {
    background-image: url("../res/pinterest-icon-min.png");
    //filter: invert(1);
  }
  
  a {
    text-decoration: none;
    color: white;
  
    &:hover {
      //opacity: 0.6;
    }
  }
  
.section {
    background: rgba(0,0,0,0);
    transition: 300ms;
}


.sec1 {
    //background: linear-gradient(#88C49F, #88A8C6);
}

.sec2 {
    //background: linear-gradient(#88A8C6, #CEACD5);
}

.sec3 {
    //background: linear-gradient(#CEACD5, #c48181);
}

.sec4 {
    //background: linear-gradient( #c48181, #ccab5e);
}

.wave {
    width: 140px;
    height: 100vh;
    background: url("../res/wave.svg") repeat-y;
    //background-color: red;
    //animation: wave 8s linear infinite;
    pointer-events: none;
    z-index: 2;
    margin-left: -130px;
    pointer-events: none;
    background-position-y: 50%;
    transition: 1s;
    mix-blend-mode: darken;
    //filter: invert(1);
}

  .next-page-cover {
      width: 100%;
      height: 0%;
      background: #e0e0e0;
      position: fixed;
      bottom: 0px;
      transition: 1s;
      z-index: 999;

      h3 {
        transition: 1s;
      }
  }

  .hero-image {
      //background: red;
      //background-image: url('../res/me.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 100px;
      width: 100px;
      //margin-top: 20px;
      //margin-left: 200px;
      //border-radius: 100%;
      transition: 2s;
      //filter: grayscale(1);
      opacity: 0;
      //display: none;
  }

  .hero-text {
      transition: 2s;
      opacity: 0;
      //margin-left: -200px;
      color: white;
  }

  .center-container {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      bottom: 0;
      left: 20%;
      right: 0;
      //background: gray;
      z-index: 2;
      margin-left: auto;
      margin-right: auto;
      transition: 2.5s;
      //color: $ColorPrimary;

      h1 {
          font-size: 42px;
          opacity: 1;
      }

      p {
          font-size: 22px;
          opacity: 0.6;
          margin-top:-30px;
      }
  }

  //----------arrow stuff----------

  body {
    //background-color: #1abc9c;
  }
  
  .arrows {
    position: relative;
    width: 30px;
    height: 30px;
    transform: translate(50%, 50%) scale(0.6);
    margin-top: 25px;
  }
  
  .arrows:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 26.66667px solid rgba(0, 0, 0, 0.7);
    border-bottom: 26.66667px solid rgba(0, 0, 0, 0.7);
    transform: translate(26.66667px, 106.66667px) rotate(-45deg);
    animation: arrows 3s linear infinite;
  }
  
  .arrows:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 26.66667px solid rgba(0, 0, 0, 0.7);
    border-bottom: 26.66667px solid rgba(0, 0, 0, 0.7);
    transform: translate(53.33333px, 0px) rotate(-45deg);
    animation: arrows 3s linear infinite -1.5s;
  }
  
  @keyframes arrows {
    0% {
      border-left: 10px solid transparent;
      border-bottom: 10px solid transparent;
      transform: translate(-13.33333px, -53.33333px) rotate(-45deg);
    }
    10%, 90% {
      border-left: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
    50% {
      border-left: 10px solid rgba(255, 255, 255, 0.7);
      border-bottom: 10px solid rgba(255, 255, 255, 0.7);
      transform: translate(-13.33333px, 0px) rotate(-45deg);
    }
    100% {
      border-left: 26.66667px solid transparent;
      border-bottom: 26.66667px solid transparent;
      transform: translate(-13.33333px, 53.33333px) rotate(-45deg);
    }
  }

  //----------end of arrow stuffs----------

  .nav {
    position: fixed;
    //background-color: white;
    height: 60px;
    width: 100%;
    z-index: 50;
    top: 0px;
    font-size: 13px !important;
    transition: 1s;
    opacity: 0;
    filter: invert(1);
    //box-shadow: 0px 5px 15px 5px rgba(black,.1);
  
    .nav-links {
      width: 100%;
      margin: auto;
      text-align: center;
    }
  
    h2 {
      position: absolute;
      margin-left: 45px;
      //font-family: $FontPrimary;
      opacity: 1;
      line-height: 30px;
    }
  
    ul {
      display: inline-flex;
      list-style: none;
      //margin:0px auto 0px auto;
      padding: 25px 50px 25px 25px;
      float: right;
  
      .nav-item {
        text-decoration: none;
        height: 60px;
  
        &:hover {
          cursor: pointer;
          
          li {
              opacity: 0.4;
          }
        }
      }
  
      li {
        margin-left: 12px;
        margin-right: 12px;
        //font-family: $FontPrimary;
        line-height: 60px;
        color: black;
        font-size: 16px;
        font-weight: bold;
        transition: 300ms;
      }
    }
  }
  
  .nav-indicator {
    background: black;
    //opacity: 0.4;
    height: 3px;
    border-radius: 50px 50px 0px 0px;
    width: 0%;
    transition: 300ms;
    margin-left: auto;
    margin-right: auto;
    //opacity: 0;
    margin-top: -3px;
  }
  
  .nav-active {
    background: black;
    height: 3px;
    border-radius: 50px 50px 0px 0px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3px;
  }
  
  .port-container {
    //background: gray;
    //width: 50%;
    //height: 70%;
    margin-left: 12%;
    color: white;
    width: fit-content;
  }

  .port-item-container {
      display: flex;
      align-items: center;
      //background: black;
      //opacity: 0.2;
      align-self: flex-start;
      margin-left: 60px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 20px 40px 20px 20px;
      width: fit-content;
      border-radius: 20px;
      transition: background 300ms, margin-top 1s;

      &:hover {
          background: rgba(black, 0.2);
          cursor: pointer;
      }
  }

  .port-img {
    background: white;
    //opacity: 0.3;
    margin-right: 40px;
    width: 250px;
    height: 125px;
    border-radius: 10px;
    //box-shadow: 0px 7px 17px -1px rgba(0,0,0,0.2);
  }

  .port-text {
      color: white;
      opacity: 1;

      h1 {
          color: white;
          opacity: 0.9;
      }

      p {
          color: white;
          opacity: 0.8;
      }
  }

  .port-img1 {
      background-image: url('../res/portfolio-images/floors/full-mockup-v3\(small\).png');
      background-size: cover;
      background-repeat: no-repeat;
  }

  .port-img2 {
    background-image: url('../res/portfolio-images/backpack-barber/backpack_barber_full_mockup_v8.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .port-img3 {
    background-image: url('../res/portfolio-images/spotify/spotify-big.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .port-img4 {
    background-image: url('../res/portfolio-images/material.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .port-img5 {
    background-image: url('../res/portfolio-images/drummerboi.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .port-img6 {
    background-image: url('../res/portfolio-images/puzzle.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .port-img7 {
    background-image: url('../res/portfolio-images/monday-analysis2.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .port-img8 {
    background-image: url('../res/portfolio-images/quickkeys.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .phone {
    background-color: rgba(0,0,0,0);
    background-image: url('../res/phone.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
    width: 60px;
    height: 60px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }

  .email {
    background-color: rgba(0,0,0,0);
    background-image: url('../res/email.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
    width: 60px;
    height: 60px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }

  .sm {
    background-color: rgba(0,0,0,0) !important;
    background-image: url('../res/heart.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
    width: 60px;
    height: 60px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);

    p {
        margin-left: -5px;
    }
  }

  .sm-container {
    &:hover {
        background: rgba(0,0,0,0);
        cursor: default;
    }
  }

  .email-link {
      //display: flex;
  }

  .port-text a {
      padding: 0px 4px 0px 4px;
      border-radius: 5px;
      transition: 300ms;

      &:hover {
          background: rgba(black, 0.4);
      }
  }

  .port-contact {
      &:hover {
          background: rgba(black, 0.2);
      }
  }

  @keyframes wave {
    0% {
      background-position: 0px 0px;
    }
  
    100% {
      background-position: 0px -1600px;
    }
  }


  //----------resume stuff----------


  $ColorText: #707070;
  $ColorTextSecondary: #676767;
  $ColorLightGray: #E0E0E0;
  $ColorPrimary: black;
  $GlobalPadding: 30px;
  
  .page-container {
    background-color: #fff;
    margin: 20vh auto 80px auto;
    border-radius: 10px 10px 10px 10px;
    max-width: 1100px;
    opacity: 0;
    transition: 1s;

    ul {
      list-style: auto;
    }

    a {
        text-decoration: none;
      
        &:hover {
          text-decoration: underline;
          text-decoration-color: $ColorTextSecondary;
        }
      }
      
      .first {
        list-style: none;
      }
      
      h3 {
        //border-bottom: solid 1px #BDBDBD;
        //padding-bottom: 10px;
        color: black !important;
        margin-top: 20px;
      }
  }
  
  .res-head {
    background-color: #fff;
    padding: $GlobalPadding + 10px;
    display: inline-flex;
    border-radius: 10px 10px 10px 10px;
  
    .circle-image {
      background-color: $ColorLightGray;
      height: 80px;
      width: 80px;
      border-radius: 100%;
      background-image: url("../res/me_2.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    .head-text {
      //padding-left: 20px;
  
      h1 {
        font-weight: normal;
        margin: 18px 0px 12px 0px;
      }
  
      p {
        color: $ColorTextSecondary;
        margin: 5px 5px 20px 5px;
        font-size: 14px;
      }
    }
  }
  
  .res-neck {
    background-color: $ColorPrimary;
    padding: 10px;
    color: rgba(white, 0.7);
    //position: absolute;
    //left: 0;
    //border-radius: 100px 100px 100px 100px;

  
    .res-contact {
      //background-color: black;
      //width: 550px;
      line-height: 14px;
  
      .contact {
        display: inline-flex;
        font-size: 14px;
        color: rgba(white, 0.7);

        .contact-icon {
          //height: 15px;
          width: 15px;
          margin: 0px 15px 0px 15px;
          background-repeat: no-repeat;
          //background-color: white;
          //border-radius: 100%;
        }
  
        #phone {
          background-image: url("../res/phone.png");
          background-position: center;
          background-size: contain;
          filter: invert(1);
        }
  
        #email {
          background-image: url("../res/email.png");
          background-position: center;
          background-size: contain;
          filter: invert(1);
        }
  
        #github {
          background-image: url("../res/github.png");
          background-position: center;
          background-size: contain;
          filter: invert(1);
        }
  
        #linkedin {
          background-image: url("../res/linkedin.png");
          background-position: center;
          background-size: contain;
          filter: invert(1);
        }
      }
    }
  }
  
  .res-body {
    background-color: #fff;
    padding: $GlobalPadding;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 0px 0px 15px 15px;
  
    h3 {
      font-weight: normal;
      color: $ColorText;
      margin-top: 30px;
      //text-decoration: underline;
      //font-size:
    }
  
    p {
      color: $ColorTextSecondary;
      font-size: 12px;
    }
  
    .body-container {
      padding: $GlobalPadding;

      
    }
  
    .res-ex {
      //background-color: #90A4AE;
      p {
        margin: 0px;
      }
  
      span {
        font-weight: lighter;
        color: $ColorTextSecondary;
      }
    }

    h2 {
        font-size: 20px;
        margin-top: 40px;
        color: $ColorPrimary;
        line-height: 1.4;
      }
  
    .res-sum {
      //background-color: #B0BEC5;
  
      a {
        color: $ColorTextSecondary;
        font-size: 12px;
      }
  
      p {
        font-size: 12px;
        //display: inline-flex;
      }
  
      li {
        font-size: 12px;
        color: $ColorTextSecondary;
      }

      #research-list {
        padding: 0px;

        h2 {
            font-size: 16px;
            margin-top: 40px;
            color: $ColorPrimary;
            line-height: normal;
          }
      }
  
      .project {
        display: inline-flex;
        font-size: 12px;
        font-weight: bold;
        color: $ColorTextSecondary;
        padding-top: 10px;
        
  
        #fav1 {
          background-image: url("../res/puzzle.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
  
        #fav2 {
          background-image: url("../res/lock.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
  
        #fav3 {
          background-image: url("../res/music-icon1.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
  
        #fav4 {
          background-image: url("../res/sonic2.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          filter: brightness(0);
        }
  
        #fav5 {
          background-image: url("../res/ring.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          filter: brightness(0);
        }
      }
  
      .favicon {
        //background-color: red;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        opacity: 0.5;
        //margin-top: 2px;
      }
  
      .sum-list {
        //display: inline-table;
      }
  
      span {
        background-color: $ColorPrimary;
        color: white;
        font-size: 12px;
        padding: 5px;
        line-height: 28px;
        border-radius: 5px;
  
        span {
          padding: 0px;
          color: $ColorPrimary;
        }
      }
    }
  }
  
  .download {
    position: fixed;
    background: black;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    top: 40px;
    right: 60px;
    color: white;
    text-align: center;
    line-height: 60px;
    border: solid black 2px;
    opacity: 0;
    transition: background-color 300ms, margin-top 1s, opacity 1s;
    z-index: 6;
    //margin-top: 30px;
  
    &:hover {
      cursor: pointer;
      background-color: #e0e0e0;
      color: black;
    }
  }

  .back {
    position: fixed;
    //background: black;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    top: 40px;
    left: 60px;
    color: black;
    text-align: center;
    display: inline-flex;
    //line-height: 60px;
    //border: solid black 2px;
    transition: 1s;
    z-index: 6;
    font-weight: bold;
    display: flex;
    align-items: center;
    opacity: 0;
    //margin-top: 30px;

    .back-arrow {
        background-image: url('../res/arrow.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 20px;
        height: 32px;
        margin-right: 26px;
        transition: 300ms;
    }
  
    &:hover {
      cursor: pointer;
      .back-arrow {
          transform: translateX(-15px);
      }
      //background-color: rgba(0,0,0,0.3);
    }
  }

  .back2 {
    position: fixed;
    //background: black;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    top: 40px;
    left: 60px;
    //color: white;
    text-align: center;
    display: inline-flex;
    //line-height: 60px;
    //border: solid black 2px;
    opacity: 0;
    transition: 1s;
    z-index: 6;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 50px;

    .back-arrow {
        //filter: invert(1);
        background-image: url('../res/arrow.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 20px;
        height: 32px;
        margin-right: 26px;
        transition: 300ms;
    }
  
    &:hover {
      cursor: pointer;
      .back-arrow {
          transform: translateX(-15px);
      }
      //background-color: rgba(0,0,0,0.3);
    }
  }

  //----------case study styles----------

  .next-project {
    background: #88C69D;
    width: 100%;
    height: 150px;
    //text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: background 300ms, opacity 1s;
    z-index: 12;

    &:hover {
      background: #578065;
      cursor: pointer;

      .forward-arrow {
        //transform: translateX(18px);
      }
    }

    .double-image {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 100px;
      padding-right: 100px;
      grid-gap: 100px;
    }

    .forward-arrow {
      background-image: url('../res/arrow.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(180deg);
      height: 30px;
      width: 30px;
      margin-left: 20px;
      filter: invert(1);
    }
  }

  .study-container {
    color: rgba(0,0,0,0.8);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    //margin-top: 100vh;
    transition: 1s;
    //padding-bottom: 70px;

    ul, ol {
      margin-bottom: 60px;
      opacity: 0.8;

      img {
        margin: 40px !important;
        margin-left: -40px !important;
      }
    }

    h3 {
      opacity: 1;
      color: black;
    }

    .study-backdrop {
        //background: blue;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100vh;
        z-index: -1;
        transition: 1s;
    }
    
    .img-container {
        img {
            max-width: 100%;
            border-radius: 10px;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
    }

    img {
        max-width: 80%;
        border-radius: 10px;
        margin-top: 0px;
        margin-bottom: 0px !important;
        box-shadow: 0px 7px 17px -1px rgba(0,0,0,0.2);
    }

    p {
        opacity: 0.8;
        margin-bottom: 60px;
        margin-top: 60px;
    }

    .bubble-container {
      position: fixed;
      display: flex;
      //width: 150px;
      margin: auto;
      top: 60px;
      right: 0px;
      height: max-content;
      padding: 0px 80px 80px 80px;
      z-index: 6;
      opacity: 0.8;
      margin: 0px !important;
      //filter: invert(1);
    }
  }

  .study-banner {
    //background: white !important;
    width: 100%;
    height: 400px;
    opacity: 0;
    transition: 1s;
    margin-top: 40px;
    color: rgba(0,0,0,0.6);
  
    h1 {
      //opacity: 0;
      transition: 1s;
      padding-top: 250px;
      text-align: center;
      font-size: 52px;
      font-weight: normal;
      margin-bottom: 10px;
      //color: white;
    }
  
    p {
      //opacity: 0;
      text-align: center;
      font-size: 18px;
      transition: 2s;
    }
  }

  .text-container-bb {
    a {
        color: white;
        background: #88C69D;
        padding: 20px 40px 20px 40px;
        border-radius: 10px;
        transition: 300ms;
        font-weight: bold;

        &:hover {
            background: #578065;
        }
    }
  }
  
  .project-banner {
    //background: linear-gradient(white, #e0e0e0);
    width: 100%;
    height: 400px;
    //background-image: url("../../res/gifs/quickkeys.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
  
    h1 {
      opacity: 1;
      text-align: center;
      font-size: 52px;
      padding-top: 60px;
      //font-family: $FontPrimary;
      font-weight: normal;
      //mix-blend-mode: difference;
    }
  
    p {
      opacity: 0.4;
      text-align: center;
      font-size: 18px;
    }
  
    .project-icon {
      //background: black;
      width: 100px;
      height: 100px;
      padding: 0px auto 0px auto;
    }
  }
  
  .sonicv-banner {
    //background: linear-gradient(white, #42A5F5);
  }
  
  .drummerboi-banner {
    //background: linear-gradient(white, #ef9a9a);
  }
  
  .project-container {
    max-width: 1100px;
    padding: 50px;
    //background-color: red;
    margin: 80px auto auto auto;
    display: flex;
    //font-family: $FontPrimary;
    line-height: 30px;
    background: rgba(black, 0);
    border-radius: 15px 15px 15px 15px;
    transition: 1s;
    opacity: 0;
    color: rgba(0,0,0,0.8)

    p {
        font-size: 22px;
    }
  }
  
  .full-img {
    display: block;
    text-align: center;
    opacity: 0;
  
    .shot {
      width: 100%;
    }
  
    h2 {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  
  }
  
  .bb-img {
    border-radius: 10px;
    width: 100% !important; 
    //margin-bottom: 60px;
  }
  
  .bb-logo {
    width: 20% !important;
  }
  
  .small-bois {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: max-content;
    width: 70%;
    //padding-bottom: 50px;
    margin:auto;
    //grid-gap: 40px;
  }
  
  .bb-img-small {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; 
  }

  #fp-nav {
    //margin-right: 100px;
    transition: 2s;
    //filter: invert(1);
    //opacity: 1;

    span {
      //transform: translateX(-150px);
    }
  }

@media only screen and (max-width: 768px) {
    .white-container {
        width: 100% !important;
        height: 30vh;
        top: 0px;
    }

    .hero-text {
      transform: scale(0.8);
    }

    .bubbles-res {
      filter: invert(0) !important;
      opacity: 1;
      position: relative;
      margin-bottom: 100px;
    }

    .download {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0px;
      top: 0;
      margin: auto !important;
    }

    .page-container {
      display: none;
    }

    .home {
      background: #181818;

      .nav {
        filter: invert(1);
      }

      .nav-active {
        filter: invert(1) !important;
      }

      
      .nav-indicator {
        filter: invert(1) !important;
      }

      //color: black !important;
    }

    #fp-nav {
        margin-left: 0px !important;
        top: 50% !important;
        transform: scale(0.8) !important;
        display: none;
        //opacity: 0;
    }

    #fp-nav li {
        margin: 15px !important;
    }

    .wave {
        display: none;
    }

    .nav-links {
        display: flex;
    }

    .nav ul {
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        //color: white;
    }

    .nav li {
        //color: white !important;
        font-weight: normal;
        font-size: 12px !important;
    }

    .nav-indicator {
        background: white;
    }

    .nav-active {
        background: white;
    }

    .study-container {
      h1 {
        font-size: 32px;
      }

      h2 {
        font-size: 16px;
      }

      li {
        font-size: 12px;
      }

      p {
        font-size: 12px;
      }
      .bubble-container {
        filter: invert(0);
        opacity: 1;
        position: relative;
        //margin-bottom: 150px;
      }
    }

    .project-container {
      padding: 0px;

      .small-bois {
        grid-template-columns: 1fr;

        img {
          margin: 20px auto 0px auto;
        }
      }
    }

    .bubble-container {
        position: fixed;
        padding: 0px 0px 25px 0px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: invert(1);
        height: fit-content;
        margin: 0px;
    }

    .bubble-container div {
        width: 15px;
        height: 15px;
    }

    .center-container {
        //display: block;
        width: 100%;
        text-align: center;
        left: 0%;
        pointer-events: none;

        .hero-text {
          color: white;
          margin: 0px !important;
          padding-bottom: 100px;
        }

        h1 {
          font-size: 28px;
        }

        p {
          font-size: 18px;
        }
    }

    .white-container {
        //display: none;
        position: absolute;
        bottom: 0px;
        top: auto;
        background: #346791;
        transition: 1s;
        height: 60px;
        z-index: -1 !important;
        height: 0%;
    }

    .port-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
    }

    .port-item-container {
        display: block;
        //margin: 0px 0px 20px 0px;
        width: 100%;
        padding: 20px;
        margin: 0px;
        border-radius: 0px;
    }

    .port-text {
        h1 {
            font-size: 16px;
        }

        p {
          font-size: 12px;
        }
    }

    .port-img {
      //display: none;
        width: 40px;
        height: 40px;
        border-radius: 0px;
        margin: 0px auto 20px auto;
    }

    .port-img1 {
      width: 70px;
      height: 70px;
      //margin-bottom: -10px;
      background-color: rgba(0,0,0,0);
      background-image: url('../res/portfolio-images/floors/floors-tinycon.png');
    }

    .port-img2 {
      background-color: rgba(0,0,0,0);
      background-image: url('../res/portfolio-images/backpack-barber/bb-small.png');
      width: 60px;
      height: 60px;
    }

    .port-img3 {
      background-color: rgba(0,0,0,0);
      background-image: url('../res/portfolio-images/spotify/s-logo.png');
      filter: brightness(0) invert(1);
    }

    .port-img4 {
      background-color: rgba(0,0,0,0);
      background-image: url('../res/portfolio-images/material.png');
      filter: invert(1);
    }

    .port-img5 {
      width: 55px;
      height: 55px;
      //margin-bottom: -10px;
      background-color: rgba(0,0,0,0);
      background-image: url('../res/portfolio-images/music.jpg');
      filter: invert(1);
    }

    .port-img6 {
      background-color: rgba(0,0,0,0);
      background-image: url('../res/portfolio-images/puzzle.png');
      filter: invert(1);
    }

    .port-img7 {
      background-color: rgba(0,0,0,0);
      background-image: url('../res/portfolio-images/monday/monday-logo-2.png');
      filter: brightness(0) invert(1);
      border-radius: 100%;
    }

    .port-img8 {
      background-color: rgba(0,0,0,0);
      background-image: url('../res/portfolio-images/key.png');
      filter: invert(1);
    }

    .back {
      background: white;
      padding: 10px 0px 10px 30px;
      box-shadow: 0px 7px 17px -1px rgba(0,0,0,0.2);
      border-radius: 5px;
      //opacity: 1 !important;
      font-size: 12px;
      margin-left: -20px;

      .back-arrow {
        background-size: 60%;
        height: 20px;
      }
    }

    .next-project {
      margin-top: 100px;
    }

    .hero-image {
      width: 70px;
      position: absolute;
      top: 50vh;
    }
}


