$ColorPrimary: rgb(58, 139, 189);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    //background: blue;
    font-family: 'Nunito', Helvetica, sans-serif;
}

.fullPage {
    z-index: -1;
}

#logo path:nth-child(1) {
    stroke-dasharray: 313;
    stroke-dashoffset: 313;
}

.section {
    //display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    //align-items: center;
    //justify-content: center;
}

.inner-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
}

.cell {
    height: 200px;
}

.white-container {
    height: 100vh;
    width: 80%;
    position: fixed;
    right: 0px;
    background: white;
    z-index: 1;
    transition: 2s;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.bubble-container {
    position: absolute;
    display: flex;
    //width: 150px;
    margin: auto;
    right: 0px;
    bottom: 0px;
    padding: 0px 80px 80px 80px;
    z-index: 6;
    opacity: 0.8;
  }
  
  .bubbles-res {
    display: none;
  }
  
  h3 {
    color: rgba(black, 0.4);
    margin-bottom: 25px;
    opacity: 0.4;
  }
  
  .social-bubble {
    //background-color: white;
    width: 25px;
    height: 25px;
    //border-radius: 100%;
    margin-right: 15px;
    transition: 300ms;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
  
    &:hover {
      cursor: pointer;
      transform: translateY(-8px);
    }
  }
  
  #facebook {
    background-image: url("../res/facebook-icon-min.png");
    //filter: invert(1);
  }
  
  #instagram {
    background-image: url("../res/insta-icon-min.png");
    //filter:invert(1);
  }
  
  #twitter {
    background-image: url("../res/twitter-icon-min.png");
    //filter: invert(1);
  }
  
  #pinterest {
    background-image: url("../res/pinterest-icon-min.png");
    //filter: invert(1);
  }
  
  a {
    text-decoration: none;
    color: white;
  
    &:hover {
      //opacity: 0.6;
    }
  }
  
.section {
    background: black !important;
}


.sec1 {
    background: linear-gradient(#4281cf, #39587b);
}

.sec2 {
    background: linear-gradient(#39587b, #293f57);
}

.sec3 {
    background: linear-gradient(#293f57, #141f2c);
}

.sec4 {
    background: linear-gradient( #141f2c, black);
}

.wave {
    width: 140px;
    height: 100vh;
    background: url("../res/wave.svg") repeat-y;
    //background-color: red;
    animation: wave 8s linear infinite;
    //transform: rotate(270deg);
    pointer-events: none;
    z-index: 2;
    margin-left: -120px;
    pointer-events: none;
    //background-position-y: 50%;
    transition: 1s;
  }

  .hero-image {
      background: black;
      background-image: url('../res/me.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 300px;
      width: 300px;
      margin-right: 50px;
      border-radius: 100%;
      transition: 2s;
      filter: grayscale(1);
  }

  .center-container {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      bottom: 0;
      left: 20%;
      right: 0;
      //background: gray;
      z-index: 2;
      margin-left: auto;
      margin-right: auto;
      transition: 2.5s;
      //color: $ColorPrimary;

      h1 {
          font-size: 42px;
          opacity: 0.6;
      }

      p {
          font-size: 22px;
          opacity: 0.4;
      }
  }

  .nav {
    position: fixed;
    //background-color: white;
    height: 60px;
    width: 100%;
    z-index: 50;
    top: 0px;
    font-size: 13px !important;
    //box-shadow: 0px 5px 15px 5px rgba(black,.1);
  
    .nav-links {
      width: 100%;
      margin: auto;
      text-align: center;
    }
  
    h2 {
      position: absolute;
      margin-left: 45px;
      //font-family: $FontPrimary;
      opacity: 1;
      line-height: 30px;
    }
  
    ul {
      display: inline-flex;
      list-style: none;
      //margin:0px auto 0px auto;
      padding: 25px 50px 25px 25px;
      float: right;
  
      .nav-item {
        text-decoration: none;
        height: 60px;
  
        &:hover {
          cursor: pointer;
          
          li {
              opacity: 0.4;
          }
        }
      }
  
      li {
        margin-left: 12px;
        margin-right: 12px;
        //font-family: $FontPrimary;
        line-height: 60px;
        color: black;
        font-size: 16px;
        font-weight: bold;
        transition: 300ms;
      }
    }
  }
  
  .nav-indicator {
    background: black;
    //opacity: 0.4;
    height: 3px;
    border-radius: 50px 50px 0px 0px;
    width: 0%;
    transition: 300ms;
    margin-left: auto;
    margin-right: auto;
    //opacity: 0;
    margin-top: -3px;
  }
  
  .nav-active {
    background: black;
    height: 3px;
    border-radius: 50px 50px 0px 0px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3px;
  }
  
  .port-container {
    //background: gray;
    //width: 50%;
    //height: 70%;
    margin-left: 12%;
    color: white;
  }

  .port-item-container {
      display: flex;
      align-items: center;
      //background: black;
      //opacity: 0.2;
      align-self: flex-start;
      margin-left: 60px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 20px 40px 20px 20px;
      width: fit-content;
      border-radius: 20px;
      transition: 300ms;

      &:hover {
          background: rgba(white, 0.2);
          cursor: pointer;
      }
  }

  .port-img {
    background: white;
    //opacity: 0.3;
    margin-right: 40px;
    width: 250px;
    height: 125px;
    border-radius: 10px;
  }

  .port-text {
      color: white;
      opacity: 0.8;

      p {
          //color: black;
          opacity: 0.6;
      }
  }

  .port-img1 {
      background-image: url('../res/portfolio-images/floors/full-mockup-v3\(small\).png');
      background-size: cover;
      background-repeat: no-repeat;
  }

  .port-img2 {
    background-image: url('../res/portfolio-images/backpack-barber/backpack_barber_full_mockup_v8.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .port-img3 {
    background-image: url('../res/portfolio-images/spotify/spotify-big.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .port-img4 {
    background-image: url('../res/portfolio-images/material.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .port-img5 {
    background-image: url('../res/portfolio-images/drummerboi.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .port-img6 {
    background-image: url('../res/portfolio-images/puzzle.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .port-img7 {
    background-image: url('../res/portfolio-images/monday.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .port-img8 {
    background-image: url('../res/portfolio-images/monday-analysis2.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .phone {
    background-color: rgba(0,0,0,0);
    background-image: url('../res/phone.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
    width: 60px;
    height: 60px;
  }

  .email {
    background-color: rgba(0,0,0,0);
    background-image: url('../res/email.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
    width: 60px;
    height: 60px;
  }

  .sm {
    background-color: rgba(0,0,0,0) !important;
    background-image: url('../res/heart.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
    width: 60px;
    height: 60px;

    p {
        margin-left: -5px;
    }
  }

  .sm-container {
    &:hover {
        background: black;
        cursor: default;
    }
  }

  .email-link {
      //display: flex;
  }

  .port-text a {
      padding: 0px 4px 0px 4px;
      border-radius: 5px;
      transition: 300ms;

      &:hover {
          background: rgba(white, 0.4);
      }
  }

  .port-contact {
      &:hover {
          background: rgba(white, 0.2);
      }
  }

  @keyframes wave {
    0% {
      background-position: 0px 0px;
    }
  
    100% {
      background-position: 0px -1600px;
    }
  }

@media only screen and (max-width: 768px) {
    .white-container {
        width: 100% !important;
        height: 30vh;
        top: 0px;
    }

    #fp-nav {
        margin-left: 0px !important;
        top: 50% !important;
        transform: scale(0.8) !important;
    }

    #fp-nav li {
        margin: 15px !important;
    }

    .wave {
        display: none;
    }

    .nav-links {
        display: flex;
    }

    .nav ul {
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        color: white;
    }

    .nav li {
        color: white !important;
        font-weight: normal;
        font-size: 12px !important;
    }

    .nav-indicator {
        background: white;
    }

    .nav-active {
        background: white;
    }

    .bubble-container {
        position: fixed;
        padding: 0px 0px 25px 0px;
        margin:auto;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: invert(1);
    }

    .bubble-container div {
        width: 15px;
        height: 15px;
    }

    .center-container {
        display: none;
    }

    .white-container {
        display: none;
    }

    .port-container {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .port-item-container {
        display: block;
        margin: 0px 0px 20px 0px;
        width: 100%;
    }

    .port-text {
        h1 {
            font-size: 18px;
        }
    }

    .port-img {
        width: 100%;
        border-radius: 5px;
        margin: 0px 0px 0px 0px;
    }
}


